<footer class="footer">
   <div class="container">
    <div class="footer-inside row">
        <div class="footer-section col-lg col-md-3">
            <h3>Popular Locations</h3>
            <ul>
                <li>
                    <a href="/listings/search?location=kolkata">Kolkata</a>
                </li>
                <li>
                    <a href="/listings/search?location=mumbai">Mumbai</a>
                </li>
                <li>
                    <a href="/listings/search?location=chennai">Chennai</a>
                </li>
                <li>                
                        <a href="/listings/search?location=banglore">Banglore</a>
                </li>
                <li>
                <a href="/listings/search?location=pune">Pune</a> 
                </li>
            </ul>
        </div>
        
        <div class="footer-section col-lg col-md-3">
            <h3>Trending Locations</h3>
            <ul>
                <li>
                    <a href="/listings/search?location=karimnagar">Karimnagar</a>
                </li>
                <li>
                    <a href="/listings/search?location=noida">Noida</a>
                </li>
                <li>
                    <a href="/listings/search?location=kochi">Kochi</a>
                </li>
                <li>                
                        <a href="/listings/search?location=chandigarh">Chandigarh</a>
                </li>
                <li>
                <a href="/listings/search?location=vizag">Vizag</a> 
                </li>
            </ul>
        </div>
        
        <div class="footer-section col-lg col-md-3">
            <h3>About Us</h3>
            <ul>
                <li>Contact Us</li>
            </ul>
        </div>
    
        <div class="footer-section col-lg col-md-3">
            <h3>DealDex</h3>
            <ul>
                <li>Blog</li>
                <li>Help</li>
                <li>Sitemap</li>
                <li>Legal information</li>
                <li>Vulnerability Disclosure program</li>
            </ul>
        </div>
    
        <div class="footer-section col-lg col-md-3">
            <h3>Follows Us</h3>
            <ul class="icons d-flex">
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-tiktok"></i></li>
            </ul>
        </div>
    </div>
</div>
    <div class="footer-end">
        <ul class=" d-sm-flex justify-content-between align-items-center px-5">
            <li>Help-Sitemap</li>
            <li>All rights reserved @ 2006-2024 DealDex</li>
        </ul>
    </div>
    
    <!-- Add more sections as needed -->
</footer>
