<div class="container-sm container-fluid">
    <nav id="nav2" class="col">
        <a class="nav-link" aria-current="page" href="/listings/search?category=homes">
        <span>
            <i class="fa-solid fa-house"></i>
            <p>Houses</p>
        </span></a>
    
        <a class="nav-link" href="/listings/search?category=cameras">
         <span>
            <i class="fa-solid fa-camera"></i>
            <p>Cameras</p>
        </span>
        </a>
        <a class="nav-link" href="/listings/search?category=animals">
            <span>
                <i class="fa-solid fa-dog"></i>
                <p>Animals</p>
            </span>
        </a>
        <a class="nav-link" aria-disabled="true" href="/listings/search?category=cars">
            <span>
                <i class="fa-solid fa-car"></i>
                <p>Cars</p>
            </span>
        </a>
        <a class="nav-link " aria-current="page" href="/listings/search?category=electronics">
            <span>
                <i class="fa-solid fa-lightbulb"></i>
                <p>Electronics</p>
            </span></a>
        
            <a class="nav-link" href="/listings/search?category=bikes">
             <span>
                <i class="fa-solid fa-motorcycle"></i>
                <p>Bikes</p>
            </span>
            </a>
            <a class="nav-link" href="/listings/search?category=books">
                <span>
                    <i class="fa-solid fa-book"></i>
                    <p>Books</p>
                </span>
            </a>
            <a class="nav-link" aria-disabled="true" href="/listings/search?category=mobiles">
                <span>
                    <i class="fa-solid fa-mobile"></i>
                    <p>Mobiles</p>
                </span>
            </a>
            <a class="nav-link" aria-disabled="true" href="/listings/search?category=laptops">
                <span>
                    <i class="fa-solid fa-laptop"></i>
                    <p>Laptops</p>
                </span>
            </a>
        
    </nav>
</div>